<!DOCTYPE html>

<html>
	<head>
		<title>Sea of Quills</title>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
	</head>
	
	<body class="georgia h-100 w-100">
		<nav class="dt w-100 border-box pa3 mb3">
			<a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
				<img src="https://prodimage.images-bn.com/pimages/9780765598677_p0_v2_s1200x630.jpg" class="dib w3 h3 br-100">
			</a>
			<div class="dtc v-mid w-75 tr">
				<a class="link dim dark-gray f4 f3-ns dib mr3 mr4-ns" href="/">Home</a>
				<a class="link dim dark-gray f4 f3-ns dib" href="/quills">Explore</a>
			</div>
		</nav>
		<!-- <marquee class="red pa2 f3">NOTICE:sometimes the Car runs away and does not come back (ever!!!!) I'm still looking for a fix SORRY</marquee> -->
		<div class="container h-100 w-50 center f3">
			Selected quills:
			<br /><br />

			<ul class="list pl0">
				<% @row.each do |val| %>
					<img src="<%= val[0] %>" class="w3 h3">
				<li class="pb5 pl3"><%= val[1] %> <ul><li><%= val[2] %></li></ul></li><br />
				<% end %>
			</ul>

			<a href="/quills" class="link">Search again!</a>
		</div>
	</body>
</html>