<!DOCTYPE html>

<html>
<head>
	<title>Super Secret Agents Portal</title>
</head>
<body style="padding: 50px">
	<h1>Welcome to the Super Secret Agents official site!</h1><br /><br />
	<p>Only super secret agents will be able to enter... will  you?</p><br />
	<p>Unfortunately for the not-so-super-secret agents, our advanced AI neural network blockchain big data Python3.5 Docker DigitalOcean military-grade encryption cybersecurity algorithm will keep them out without needing a login system!</p><br />
	
	<p>Here's the secret: actual secret agents have their OWN BROWSERS!!!!! NOT POSERS</p><br />
	<p>Will it let you in? Enter!</p><br /><br />
	<form method="GET" action="/login">
		<input type="submit" value="lemme get in">
	</form>
</body>
</html>
