<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    
        <title>Woooosh</title>

        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>