.account-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    gap: 1rem;

    .account-top-text {
        height: 15vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        line-height: 0;

        padding-top: 3vh;

        h1 {
            font-size: 3rem;
        }

    }

    textarea {
        width: 80vw;
        height: 50vh;
    }

    button {
        width: fit-content;
        padding: 0 2rem 0 2rem;
    }

}